/* color palette */
/* color palette */
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes unroll {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes unroll {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  padding: 1em;
  background-color: #3A506B;
  -webkit-transition: .5s all;
  transition: .5s all;
  text-decoration: none;
  -webkit-box-shadow: 0 0 10px #000000be;
          box-shadow: 0 0 10px #000000be;
}

.arrow-btn i {
  margin: 0;
  border: solid white;
  border-width: 4px 4px 0 0;
  padding: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: unroll .8s;
          animation: unroll .8s;
}

.arrow-btn:hover {
  background-color: #5BC0BE;
}

.arrow-btn:hover i {
  -webkit-animation: roll .8s;
          animation: roll .8s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0B132B;
  height: 100vh;
}

.info-container {
  border-radius: 15px;
  background-color: #1C2541;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.705);
  padding: 15px;
  color: white;
}

.info-container h1 {
  margin: 20px 0;
}

.info-container p {
  margin: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .info-container {
    background-color: #0B132B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0;
    height: 100vh;
  }
  .info-container h1 {
    font-size: 1.8em;
    margin-bottom: 40px;
  }
  .info-container p {
    width: 95%;
    margin-bottom: 40px;
    text-align: center;
  }
  .arrow-btn {
    width: 100%;
  }
}
/*# sourceMappingURL=home.css.map */