@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #5BC0BE;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1C2541;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-container img,
.result-container video {
  width: 40%;
  margin: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
}

.results-table {
  color: white;
  font-size: 18px;
  padding: 20px;
  background: #0B132B;
  border-radius: 20px;
  margin: 100px 0;
}

.results-table tr td {
  color: white;
}

.section-title {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
}

.btn {
  text-decoration: none;
  color: #5BC0BE;
  padding: 1.5em;
}

.return-btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #3A506B;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.return-btn i {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.return-btn:hover {
  -webkit-animation: roll 1s;
          animation: roll 1s;
  background-color: #5BC0BE;
}

.download-btn {
  background-color: #3A506B;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 999px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.download-btn:hover {
  background-color: #5BC0BE;
}

@media screen and (max-width: 900px) {
  .result-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .result-container img,
  .result-container video {
    width: 80%;
    margin: 1em;
  }
  .results-table {
    margin-top: 0;
  }
}
/*# sourceMappingURL=step2.css.map */