/* color palette */
/* color palette */
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@-webkit-keyframes unroll {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes unroll {
  0% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.arrow-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  padding: 1em;
  background-color: #3A506B;
  -webkit-transition: .5s all;
  transition: .5s all;
  text-decoration: none;
  -webkit-box-shadow: 0 0 10px #000000be;
          box-shadow: 0 0 10px #000000be;
}

.arrow-btn i {
  margin: 0;
  border: solid white;
  border-width: 4px 4px 0 0;
  padding: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: unroll .8s;
          animation: unroll .8s;
}

.arrow-btn:hover {
  background-color: #5BC0BE;
}

.arrow-btn:hover i {
  -webkit-animation: roll .8s;
          animation: roll .8s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1C2541;
}

.form-container {
  background-color: #0B132B;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0B132B;
  border-radius: 5px;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

.form-container input:focus, .form-container select:focus {
  outline: none;
  border-width: 2px;
  border-color: #6FFFE9;
}

.form-container .arrow-btn {
  width: 100%;
  margin: 0 auto;
}

.form-container .section-title {
  text-align: center;
  color: white;
  margin: 0 0 1em 0;
}

.form-container table {
  margin-bottom: 50px;
}

.form-container .value-label {
  color: white;
  height: 100%;
  font-weight: 900;
  padding: 0.8em;
}

.form-container .value-input {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0.8em;
}

.form-container .value-input option {
  font-size: 18px;
}

.form-container .value-file {
  cursor: pointer;
  border: 1px dashed #5BC0BE;
}

table tr {
  margin-bottom: 10px;
}

.error-point {
  color: red;
  list-style: none;
  font-size: 0.9em;
  font-style: italic;
  font-weight: 300;
}

.error-point::before {
  content: '*';
  color: red;
  font-size: 1em;
  margin: 0 0.2em 0 0.8em;
}

@media screen and (max-width: 750px) {
  table tr td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    background-color: #0B132B;
  }
  header {
    position: static;
  }
  .form-container {
    width: 100%;
    border-radius: 0;
    background-color: #0B132B;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 12px;
    z-index: -100;
  }
  .form-container .submit-btn {
    background-color: #5BC0BE;
  }
  table {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=step1.css.map */