* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #1C2541;
}

.form-container {
  background-color: #0B132B;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #0B132B;
  border-radius: 15px;
  font-size: 14px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);
}

.form-container input:focus, .form-container select:focus {
  outline: none;
  border-width: 2px;
  border-color: #6FFFE9;
}

.form-container .submit-btn {
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  padding: 1em;
  background-color: #5BC0BE;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.form-container .submit-btn:hover {
  background-color: #3A506B;
}

.form-container .section-title {
  text-align: center;
  color: white;
  margin: 0 0 1em 0;
}

.form-container table {
  margin-bottom: 50px;
}

.form-container .value-label {
  color: white;
  height: 100%;
  font-weight: 900;
  padding: 0.8em;
}

.form-container .value-input {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0.8em;
}

.form-container .value-input option {
  font-size: 18px;
}

.form-container .value-file {
  cursor: pointer;
  border: 1px dashed #5BC0BE;
}

table tr {
  margin-bottom: 10px;
}

.error-label {
  color: red;
  display: block;
  font-size: 0.8em;
}

@media screen and (max-width: 750px) {
  table tr td {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 550px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
    background-color: #0B132B;
  }
  header {
    position: static;
  }
  .form-container {
    width: 100%;
    border-radius: 0;
    background-color: #0B132B;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 12px;
    z-index: -100;
  }
  .form-container .submit-btn {
    background-color: #5BC0BE;
  }
}
/*# sourceMappingURL=step1.css.map */