@mixin roll_anim($angle1, $angle2){

    @keyframes roll{
        0%{
            transform: rotate($angle1);
        }
    
        100%{
            transform: rotate($angle2);
        }
    }

}

@mixin unroll_anim($angle1, $angle2){

    @keyframes unroll{
        0%{
            transform: rotate($angle1);
        }
    
        100%{
            transform: rotate($angle2);
        }
    }

}