@import 'colors';
@import 'roll_anim';

@include roll_anim(0, 360deg);

*{
  box-sizing: border-box;
  color: $color4;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2;
}

body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $color2;
}

.result-container{
  display: flex;
  justify-content: center;
  align-items: center;

  img,
  video{
    width: 40%;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.753);
  }

  video:focus{
    outline: none;
  }
}

.results-table{
  color: white;
  font-size: 18px;
  padding: 20px; 
  background: $color1;
  border-radius: 20px;
  margin: 100px 0;

  tr td{
    color: white;
  }
}

.section-title{
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
}
.btn{
  text-decoration: none;
  color: $color4;
  padding: 1.5em;
  box-shadow: 0 0 10px #000000be;

  &:hover{
    background-color: $color4;
  }

}

.return-btn{
  position: fixed;
  bottom: 20px;
  left: 20px;

  background-color: $color3;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;

  i{
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(135deg);

  }
  &:hover{
    animation: roll 1s;
  }
}

.download-btn{
  background-color: $color3;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 999px;
  transition: 0.5s all;
}

@media screen and (max-width: 900px) {

  .result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    img,
    video{
      width:80%;
      margin: 1em;
    }
  
  }
  .results-table{
    margin-top: 0;
  }
}