@import 'colors';
@import 'arrow_btn';

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.2;
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background-color: $color2;
}

.form-container{
    background-color: $color1;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: $color1;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.74);

    input, select{

        &:focus{
            outline: none;
            border-width: 2px;
            border-color: $color5;

        }

    }

    .arrow-btn{
        width: 100%;
        margin: 0 auto;
    }

    .section-title{
        text-align: center;
        color: white;
        margin: 0 0 1em 0;
    }

    table{
        margin-bottom: 50px;
    }
    
    .value-label{
        color: white;
        height: 100%;
        font-weight: 900;
        padding: 0.8em;
    }
    
    .value-input{
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0.8em;

        option{
            font-size: 18px;
        }
    }

    .value-file-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.7em;
        background-color: $color3;
        transition: .8s all;
        cursor: pointer;

        .value-file-icon{
            margin-right: 1.2em;
            transition: .8s all;
        }
        .value-file-label{
            margin-right: 1.5em;
            color:white;
            transition: .8s all;
            cursor: pointer;
        }

        &:hover{
            background-color: $color4;
            border-radius: 5px;
            
            .value-file-icon{
                fill: $color1;
            }
            .value-file-label{
                color: $color1;
            }

        }
    }

    .value-file{
        display: none;
        cursor: pointer;
        border: 1px dashed $color4;
    }


}

table tr{
    margin-bottom: 10px;
}



.error-point{
    color:red;
    list-style: none;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 300;
    &::before{
        content: '*';
        color:red;
        font-size: 1em;
        margin: 0 0.2em 0 0.8em;
    }
}



@media screen and (max-width: 750px) {

    table tr td{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

  }

@media screen and (max-width: 600px) {

    body{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: auto;
        background-color: $color1;
    }

    header{
        position: static;

    }

    .form-container{
        width: 100%;
        border-radius: 0;
        background-color: $color1;
        box-shadow: none;
        font-size: 12px;
        z-index: -100;

        .submit-btn{
            background-color: $color4;
        }
    }

    table{
        margin-bottom: 0px;
    }


    
  }