@import 'colors';

header{
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.795);

    #logo-primary{
        padding: 1em;
        text-decoration: none;
        color: white;
        background-color: black;
        border-bottom-right-radius: 15px;
        transition: .5s all;

        #logo-last{
            font-family: 'Lemonada';
            color: $color5;
            transition: 1s all;
        }



        &:hover{
            color: $color5;
            
            #logo-last{
                color:white;
            }
        }

    }


}