<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block website_meta %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lemonada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block imports %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>  

    <header>
        <a id='logo-primary' href='/'>Sort<span id='logo-last'>Anim</span></a>
    </header>

    {% block content %}{% endblock %}

    <a id="copyright" href="https://github.com/OnufreiArtem">Developed by Artem Onufrei </a>

    {% block scripts %}{% endblock %}
    
</body>
</html>