<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Algorithm Animation</title>
</head>
<body>

    <section class="section-a">
        <h1 class="section-title">STEP 1: Upload your image</h1>
        <div class="container">
            
            <form action="/upload" method="POST" enctype = "multipart/form-data">
                <input type="file" name="user_image">
                <input type="submit" value="submit">
            </form>
    
        </div>

        <button class="next-step">Next step</button>
    </section>
    
    <section class="section-b">
        <h1 class="section-title">STEP 2: Upload your image</h1>
        
        <button class="next-step">Next step</button>

    </section>
    <section class="section-c">
        <h1 class="section-title">STEP 3: Upload your image</h1>
        
        <button class="next-step">Next step</button>
    </section>
</body>
</html>